<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yht.mapper.UserAccountMapper">
    <insert id="insert" parameterType="com.yht.domain.UserAccount" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_account(id,account) VALUES (#{id},#{account})
    </insert>
    <select id="selectById" parameterType="int"
            resultType="com.yht.domain.UserAccount">
        SELECT id,account FROM user_account where id= #{id}
    </select>

</mapper>