<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logPrefix" value="mybatis."/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!--<environments default="development">-->
        <!--<environment id="development">-->
            <!--<transactionManager type="MANAGED" />-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="com.mysql.jdbc.Driver" />-->
                <!--<property name="url" value="jdbc:mysql://172.20.62.41:3306/retail_dev"/>-->
                <!--&lt;!&ndash;修改为你自己的用户名密码&ndash;&gt;-->
                <!--<property name="username" value="sa" />-->
                <!--<property name="password" value="kingdee"/>-->
            <!--</dataSource>-->
        <!--</environment>-->

    <!--</environments>-->
    <!--<mappers>-->
        <!--<mapper resource="mappers/UserMapper.xml"/>-->
        <!--<mapper resource="mappers/UserAccountMapper.xml"/>-->
        <!--&lt;!&ndash;配置注解的方式&ndash;&gt;-->
        <!--&lt;!&ndash;通过class属性指定UserMapper接口的全路径&ndash;&gt;-->
        <!--&lt;!&ndash;<mapper class="com.yht.mapper.+"/>&ndash;&gt;-->
    <!--</mappers>-->
</configuration>
